//To run locally (without docker) comment out the following lines

singularity.enabled = true

process {
        withName: getFASTAsRNAs {
        container = '/ADD_PATH/srnacharp@sha256_c2a07f176d7cfe8cea3530bd76da05b30b182cdfe4d4b878f7d90e81f2d6a5f3.sif'
        }
        withName: getFreeEnergySS {
        container = '/ADD_PATH/srnacharp@sha256_c2a07f176d7cfe8cea3530bd76da05b30b182cdfe4d4b878f7d90e81f2d6a5f3.sif'
        }
        withName: getUpstreamSequences {
        container = '/ADD_PATH/srnacharp@sha256_c2a07f176d7cfe8cea3530bd76da05b30b182cdfe4d4b878f7d90e81f2d6a5f3.sif'
        }
        withName: createCRDFile {
        container = '/ADD_PATH/srnacharp@sha256_c2a07f176d7cfe8cea3530bd76da05b30b182cdfe4d4b878f7d90e81f2d6a5f3.sif'
        }
        withName: runTransterm {
        container = '/ADD_PATH/srnacharp@sha256_c2a07f176d7cfe8cea3530bd76da05b30b182cdfe4d4b878f7d90e81f2d6a5f3.sif'
        }
        withName: parseTranstermResults {
        container = '/ADD_PATH/srnacharp@sha256_c2a07f176d7cfe8cea3530bd76da05b30b182cdfe4d4b878f7d90e81f2d6a5f3.sif'
        }
        withName: getDistances {
        container = '/ADD_PATH/srnacharp@sha256_c2a07f176d7cfe8cea3530bd76da05b30b182cdfe4d4b878f7d90e81f2d6a5f3.sif'
        }
        withName: createAttributeTable {
        container = '/ADD_PATH/srnacharp@sha256_c2a07f176d7cfe8cea3530bd76da05b30b182cdfe4d4b878f7d90e81f2d6a5f3.sif'
        }
}

//To run locally (without docker) set the following variables to the corresponding path
//TSS_DATA is the directory containing the bprom data files
//TERM_DATA is the full path to the file expterm.data required by TransTerm
env {
TERM_DATA="/transterm_hp_v2.09/expterm.dat"
TSS_DATA="/ADD_PATH/bprom/lin/data"
}
